/************************************************** 
* http://meyerweb.com/eric/tools/css/reset/  
*   v2.0 20110126 - License: none (public domain) 
**************************************************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, 
ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, 
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary,time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/************************************************
* HTML5 display-role reset for older browsers 
************************************************/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
*{ 
	/* box-size */
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
			box-sizing: border-box;

	-webkit-font-smoothing: antialiased; 
	outline: none; 
}
/************************************************
* Font Roboto.
************************************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
/************************************************
* Theme: Luveck
************************************************/
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color:  #888888;
	font-size: 13px;
	line-height: 18px;
	text-align: left;
}
/************************************************
* Loader
************************************************/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	z-index: 9999;
}
#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/bx_loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}
/************************************************
* Main
************************************************/
main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
/************************************************
* Menu
************************************************/
aside {
	float: left;
	width: 19%;
	background-color: #FFF;
	border-right: 1px solid #FAFAFB;
	padding: 35px 30px 26px;
	/*position: relative;*/
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
}
/* Logo */
.brand_logo {
	background: url(../images/logo.png) 0 0 no-repeat;
	text-indent: -9999px;
	display: block;
	margin: 0 auto;
	width: 140px;
	height: 46px;
}
/************************************************
* Navigation
************************************************/
nav {
	display: block;
	overflow: hidden;
	margin: 65px auto;
	height: auto;
	width: 100%;
	float: left;
}
nav li {
	line-height: 34px;
	border-bottom: 1px solid #b3b3b3;
}
nav li:last-child {
	border: none;
}
nav a {
	color: #888888;
	line-height: 34px;
	text-decoration: none;
}
nav a.active {
	font-family: Roboto;
	color:  #d8934c;
	font-weight: 900;
}
/************************************************
* Redes
************************************************/
.contactos {
	display: block;
	margin-top: 30%;
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 26px;
}
.contactos li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}
.contactos li a {
	color: #626262;
	line-height: 15px;
	font-size: 15px;
}
/************************************************
* Contenido
************************************************/
.content {
	background-color:  #f2f2f2;
	float: left;
	width: 81%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
}
/************************************************
* Section : Home
************************************************/
section {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	position: relative;
}
section article {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	position: relative;
}
#sliderHome {
	overflow: hidden; 
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
}
.viewport {
	width: 100%;
	height: 100%; 
	overflow: hidden; 
	position: relative;
}
.overview { 
	list-style: none; 
	position: absolute; 
	padding: 0; 
	margin: 0; 
	width: 100%; 
	left: 0; 
	top: 0; 
}
.overview li { 
	float: left; 
	margin: 0; 
	padding: 0;
	width: 100%;
	height: auto;
}
.overview li img {
	display: block;
	width: 100%;
	height: auto;
}
.disable { 
	visibility: hidden; 
}
/* SLIDE Menu */
.slider-menu {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 30%;
	height: 100%;
	z-index: 10;
	border-left: 1px solid #a9a9a9;
	padding: 30px 16px;
}
.slider-menu ul {
	display: block;
	margin: 50% auto;
}
.slider-menu ul li {
	display: block;
	margin-bottom: 40px;
}
.slider-menu a {
	font-size: 14px;
	text-decoration: none;
	color: #888888;
}
.slider-menu h2 {
	font-size: 14px;
	text-transform: uppercase;
	color: #343434;
}
/************************************************
* Estilos genericos
************************************************/
section h1 {
	font-size: 40px;
	line-height: 40px;
	font-weight: 300;
	margin-bottom: 60px;
}
.col {
	float: left;
	display: block;
	overflow: hidden;
}
.col-49 {
	width: 49%;
}
.col-51 {
	width: 51%;
}
/************************************************
* Section Sobre Luveck
************************************************/
#sliderSobreLuveck h2 {
	font-size: 25px;
	font-weight: 900;
	line-height: 28px;
}
#sliderSobreLuveck p {
	font-size: 13px;
	font-weight: 500;
	line-height: 28px;
}
/* Bullets */
.bullets {
	position: absolute;
	top: 50%;
	right: 49%;
	width: 8px;
	text-align: center;
}
.bullets li {
	margin: 5px 0
}
.bullet {
	border-radius: 50%;
	border: 1px solid #FFF;
	width: 8px;
	height: 8px;
	display: block;
	text-indent: -9999px;
}
.bullet.active{
	background-color:  #ffffff;
}

/* scrollbars */
#scrollbarNuestraGente .viewport {
    height: 100%;
    overflow:hidden;
    position:relative;
}

#scrollbarNuestraGente .overview {
    list-style:none;
    position:absolute;
    left:0;
    top:0;
    margin:0;
    padding: 10px 20px;
}
#scrollbarNuestraGente .scrollbar {
    background-color:  #d8934c;
	width: 1px;
    position:absolute;
    right: -20px;
    top:0;
}
#scrollbarNuestraGente .track {
    background:transparent url(images/bg-scrollbar-trackend-y.png) no-repeat 0 100%;
    height:100%;
    width:13px;
    position:relative;
    padding:0 1px;
}
#scrollbarNuestraGente .thumb {
    background:transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
    height:20px;
    width:25px;
    cursor:pointer;
    overflow:hidden;
    position:absolute;
    top:0;
    left:-5px;
}
#scrollbarNuestraGente .thumb .end {
    background:transparent url(images/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
    overflow:hidden;
    height:5px;
    width:25px;
}
#scrollbarNuestraGente .disable {
    display:none;
}
.noSelect {
    user-select:none;
    -o-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
}

/************************************************
* Section : servicioClientes / Contacto
************************************************/
#servicioClientes article {
	overflow: hidden;
}
#servicioClientes .col-49 {
	padding: 70px 60px 50px;
}
/* texts */
.sucursales {
	margin: 0 auto 40px;
}
.sucursales h2 {
	color:  #343434;
	font-size: 20px;
	font-weight: 900;
	line-height: 28px;
	text-transform: uppercase;
}
.sucursales h2 .fa {
	color: #888888;
}
.sucursales.active h2 .fa {
	color: #ffbb71;
}
.sucursales p {
	color: #888888;
}
.sucursales p a {
	text-decoration: none;
	color: #888888;
}
.sucursales p a:hover {
	color: #d8934c;
}
/* formulario */
#form-contacto {
	overflow: hidden;
	margin: 0 auto;
}
#form-contacto h2 {
	color:  #343434;
	font-size: 20px;
	font-weight: 900;
	line-height: 28px;
	text-transform: uppercase;
}
input, textarea {
	width: 100%;
	color: #343434;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	background: transparent;
	border: none;
	border-bottom: 1px solid #d8934c;
}
.btn {
	border: none;
	background: transparent;
	color:  #343434;
	font-size: 22px;
	line-height: 28px;
	font-weight: 300;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
}
.btn:hover {
	color: #d8934c;
}
#servicioClientes .btn {
	float: right;
}
/* mapa */
.content-mapa {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
#map-canvas {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: block;
	position: absolute !important;
}

