/**************************************************
* http://meyerweb.com/eric/tools/css/reset/
*   v2.0 20110126 - License:none (public domain)
**************************************************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary,time, mark, audio, video { margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; }
/************************************************
* HTML5 display-role reset for older browsers
************************************************/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
body { line-height:1; }
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table { border-collapse:collapse; border-spacing:0; }
*{
  /* box-size */
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;

  -webkit-font-smoothing:antialiased;
  outline:none;
}

/************************************************
* Theme:Luveck
************************************************/
* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

*:before,
*:after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

body {
  background:#f7f7f7;
  font-family:Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:400;
  color:#666;
  font-size:16px;
  line-height:1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
table,
form,
pre {
  margin:0 0 1.5em;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color:#444;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-weight:300;
  line-height:1.1;
}

h1, .h1 {
  font-size:40px;
  margin-bottom:1.5em;
}

h2, .h2 {
  font-size:25px;
  margin-bottom:1em;
}

h3, .h3 {
  font-size:20px;
  margin-bottom:1em;
}

p + h1, p + .h1, ul + h1, ol + .h1,
p + h2, p + .h2, ul + h2, ol + .h2,
p + h3, p + .h3, ul + h3, ol + .h3,
p + h4, p + .h4, ul + h4, ol + .h4,
p + h5, p + .h5, ul + h5, ol + .h5,
p + h6, p + .h6, ul + h6, ol + .h6 {
  margin-top:2em;
}

ul,
ol {
  margin-left:3em;
}

ul {
  list-style:disc;
}

ol {
  list-style:decimal;
}

a {
  color:#e36b00;
  text-decoration:none;
}

hr {
  background:#ddd;
  border:0;
  height:1px;
  margin:3em 0;
}

hr.space {
  height:0;
  margin-top:0;
}

.form-item {
  margin-bottom:.75em;
}

.form-actions {
  text-align:right;
}

.btn,
.form-control {
  border:1px solid #e36b00;
  border-radius:3px;
  color:inherit;
  display:inline-block;
  font-family:inherit;
  font-size:inherit;
  line-height:1.5;
  margin:0;
  padding:4px 8px;
  vertical-align:middle;
}

.form-control {
  background:#fff;
  resize:none;
  width:100%;
}

.form-control:focus {
  box-shadow:0 0 5px rgba(227, 107, 0, .7);
}

.form-control::-moz-placeholder {
  color:#999;
  opacity:1;
}

.form-control:-ms-input-placeholder {
  color:#999;
}

.form-control::-webkit-input-placeholder {
  color:#999;
}

.btn {
  background:#e36b00;
  color:#fff;
  cursor:pointer;
  padding-left:.75em;
  padding-right:.75em;
}

.btn .icon {
  position:relative;
  margin-right:.25em;
  top:-1px;
}

.btn:hover {
  background-color:#ca5f00;
  border-color:#ca5f00;
}

.btn:active {
  box-shadow:inset 0 3px 5px rgba(0, 0, 0, .2);
}

.img-responsive {
  display:block;
  height:auto;
  max-width:100%;
}

.feedback {
  background:#ddd;
  padding:.75em 1em;
}

.feedback.error {
  background:#a94442;
  color:#fff;
}

.feedback.success {
  background:#3c763d;
  color:#fff;
}

.menu,
.sub-menu {
  list-style:none;
  margin-left:0;
}

.menu li {
  border-bottom:1px solid #ccc;
}

.menu li:last-child {
  border-bottom:0;
}

.menu a {
  display:block;
  line-height:2.5em;
  padding:0 .5em;
}

.sub-menu {
  border-top:1px solid #ccc;
  margin-bottom:0;
}

.sub-menu a {
  padding-left:1.5em;
}

/*=
 * Layout
 */

html,
body {
  height:100%;
  overflow:hidden;
}

body {
  padding-top:65px;
}

.site-loader {
  background:#fff;
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  z-index:9000;
}

.site-loader .spinner {
  left:50%;
  position:absolute;
  transform:translate(-50%, -65%);
  top:50%;
}

.site-loader img {
  display:block;
  margin:30px auto;
}

.site-loader .logo {
  height:auto;
  width:151px;
}

.site-header {
  background:#fff;
  border-bottom:1px solid #ddd;
  box-shadow:0 0 6px rgba(0, 0, 0, .5);
  left:0;
  padding:1em 1.5em;
  position:fixed;
  top:0;
  width:100%;
  z-index:1000;
}

.header-logo {
  display:block;
  height:32px;
  width:94px;
}

.header-logo img {
  height:auto;
  width:100%;
}

.header-logo h1 {
  display:none;
}

.header-menu-button {
  border-radius:2px;
  color:#888;
  font-size:13px;
  float:right;
  line-height:32px;
  margin-top:-32px;
  padding:0 .4em 0 .5em;
}

.header-menu-button .icon {
  font-size:25px;
  margin-left:.1em;
  text-align:center;
  vertical-align:middle;
  width:1em;
}

.header-menu-button:hover {
  background:#eee;
}

.site-navigation {
  background:#eee;
  border-left:1px solid #ddd;
  height:100%;
  left:auto;
  opacity:0;
  overflow:auto;
  padding:1.5em;
  position:fixed;
  right:0;
  top:0;
  visibility:hidden;
  width:75%;
  z-index:1002;

  transform:translate(100%, 0);
  transition:all 1s;
}

.site-navigation a {
  color:#001c85;
}

.sub-menu {
  display:none;
}

.current-menu-item a {
  color:#e36b00;
}

.current-menu-item .sub-menu a {
  color:#001c85;
}

.current-menu-item .current-menu-item a {
  color:#e36b00;
}

.site-navigation-overlay {
  background:rgba(255, 255, 255, .5);
  content:'';
  height:100%;
  opacity:0;
  position:fixed;
  top:0;
  visibility:hidden;
  width:100%;
  z-index:1001;

  transition:all 1s;
}

.site-navigation-logo {
  display:block;
  margin-bottom:3em;
}

.site-navigation-logo img {
  display:block;
  height:auto;
  margin:0 auto;
  width:151px;
}

.site-navigation-logo h1 {
  display:none;
}

.open-menu .site-navigation-overlay,
.open-menu .site-navigation {
  opacity:1;
  transform:translate(0, 0);
  visibility:visible;
}

.menu-sections a:hover {
  color:#e36b00;
}

.menu-secondary {
  bottom:0;
  left:0;
  padding:1.5em;
  position:absolute;
  width:100%;
}

.menu-secondary .menu {
  font-weight:700;
  float:left;
  margin:0;
}

.menu-secondary .menu:first-child {
  border-right:1px solid #ccc;
  margin-right:1em;
  padding-right:1em;
}

.menu-secondary li {
  border:0;
  float:left;
}

.menu-secondary a {
  color:#666;
  line-height:1.5;
}

.menu-secondary span {
  display:none;
}

.menu-languages img {
  height:16px;
  margin-left:2px;
  vertical-align:text-top;
}

.menu-products {
  font-size:12px;
  margin-left:-.25em;
  margin-right:-.25em;
}

.menu-products li {
  border:0;
  display:inline-block;
  padding:0 .25em .75em;
}

.menu-products .current-menu-item a {
  background:#666;
  border-color:#666;
  color:#fff;
}

.item {
  display:none;
  height:100%;
  overflow:hidden;
  width:100%;
}

.item-content,
.item-navigation {
  height:100%;
  overflow:auto;
  padding:2em 1.5em;
}

.item-content .item {
  height:auto;
}

.item-content > .item {
  display:block;
  margin:-2em -1.5em 4em;
  width:auto;
}

.item-navigation {
  padding:0;
}

.item-navigation .menu {
  height:100%;
  margin:0;
}

.item-navigation li {
  border:0;
  height:33.33333%;
  overflow:hidden;
  position:relative;
}

.item-navigation img {
  height:auto;
  left:50%;
  position:absolute;
  transform:translate(-50%, -50%);
  top:50%;
  width:100%;
}

.item-image {
  background:no-repeat 50% 50%;
  background-size:cover;
  height:0;
  margin-bottom:1.5em;
  overflow:hidden;
  padding-bottom:56.25%;
  padding-top:25px;
  position:relative;
  width:100%;
}

.item-image img {
  height:auto;
  left:50%;
  position:absolute;
  transform:translate(-50%, -50%);
  top:50%;
  width:101%;
}

.item-map {
  height:0;
  margin-bottom:1.5em;
  padding-bottom:56.25%;
  padding-top:25px;
  position:relative;
  width:100%;
}

.item-map-inner {
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

.item-map img {
  transform:none!important;
}

/*=***********************************************************************/
html,
body {
  overflow:visible;
}

.item {
  overflow:visible;
}

.item-header {
  padding:0 1.5em;
}

.item-header h1 {
  margin-top:1.5em;
}

.item-content {
  height:auto;
}

.item-image,
.item-map {
  display:none;
}

.item-image-mobile,
.item-map-mobile {
  display:block;
  margin-bottom:3em;
}

.item-image-mobile,
.item-map-mobile {
  margin-left:-1.5em;
  margin-right:-1.5em;
  width:auto;
}

.sub-item {
  display:block;
  height:auto;
}

.sub-item .item-header {
  padding:0;
}

.sub-item .item-header h1 {
  margin-top:0;
}

.nano {
  overflow:initial;
}

.nano > .nano-content {
  margin-right:0!important;
  overflow:initial;
  position:static;
}

.has-scroller > .nano-content {
  position:absolute;
}

.item-about > .item-header {
  display:none;
}

.item-product-categories .item-header {
  margin:-1.5em -1.5em 0;
}

.item-product .menu-categories + h1 {
  margin-top:1em;
}

.item-research .item-header {
  margin-top:-1.5em;
  padding:0;
}

.item-contact .item-header {
  margin-top:-1.5em;
  padding:0;
}
/*=***********************************************************************/

@media (min-width:768px) {
  .site-navigation {
    width:37.5%;
  }

  .has-navigation > .item-content,
  .has-navigation > .item-navigation {
    display:block;
    float:left;
    width:50%;
  }

  .item-content > .item {
    display:none;
  }

  .item-image {
    display:none;
  }

  .modal-inner {
    left:50%;
    position:absolute;
    transform:translate(-50%, -50%);
    top:50%;
  }
}

/*=
 * Sections
 */
.item-navigation a:after {
  padding:0;
  position:relative;
}

.item-navigation a:after {
  border:0px solid #e36b00;
  content:'';
  height:100%;
  left:0;
  opacity:0;
  position:absolute;
  transition:all .5s;
  top:0;
  visibility:hidden;
  width:100%;
  z-index:1;
}

.item-navigation .current-menu-item a:after {
  border-width:5px;
  opacity:1;
  visibility:visible;
}

.item-home li,
.item-home .slider,
.item-home .image,
.item-home .bx-wrapper,
.item-home .bx-viewport {
  border:0;
  height:100%!important;
  width:100%!important;
}

.item-home .slider li {
  overflow:hidden;
  position:relative;
}

.item-home img {
  display:none;
}

.item-home .image {
  background:no-repeat 50% 50%;
  background-size:cover;
  height:101%!important;
  left:50%;
  position:absolute;
  transform:translate(-50%, -50%);
  top:50%;
  width:101%!important;
}

.item-home .bx-pager {
  bottom:auto;
  padding:0;
  right:1.5em;
  transform:translate(0, -50%);
  top:50%;
  width:auto;
}

.item-home .bx-pager-item {
  display:block;
}

.item-home .bx-wrapper {
  margin-bottom:0;
}

.item-home .bx-wrapper .bx-pager.bx-default-pager a {
  background:#fff;
  border-radius:8px;
  height:16px;
  margin:5px 0;
  opacity:.3;
  width:16px;
}

.item-home .bx-wrapper .bx-pager.bx-default-pager .active {
  opacity:.7;
}

/*=
 * Tablet/desktop styles
 */
@media (min-width:768px) {
  html,
  body {
    overflow:hidden;
  }

  body {
    padding-top:0;
    margin-left:20%;
  }

  .site-header {
    display:none;
  }

  .site-navigation {
    background:#fff;
    border-left:0;
    border-right:1px solid #ddd;
    font-size:13px;
    left:0;
    opacity:1;
    right:auto;
    transform:none;
    visibility:visible;
    width:20%;
  }

  .site-navigation-overlay {
    display:none;
  }

  .menu-item-is-open .sub-menu {
    display:block;
  }

  .has-sub-pages > .item-content {
    padding:0;
  }

  .has-sub-pages .item {
    height:100%;
    margin:0;
    width:100%;
  }

  .has-featured-image {
    height:100%;
    margin:0;
    width:100%;
  }

  .has-featured-image .item-image,
  .has-featured-image .item-content {
    height:100%;
    width:50%;
  }

  .has-featured-image .item-image {
    display:block;
    float:right;
    padding:0;
    position:relative;
  }

  .has-featured-image .item-image img {
    display:block;
    height:102%;
    left:50%;
    transform:translate(-50%, -50%);
    top:50%;
    width:auto;
  }

  .has-featured-image .item-image-mobile {
    display:none;
  }

  .has-featured-image .item-content {
    float:left;
  }

  .item {
    overflow:hidden;
  }

  .item-header h1 {
    margin-top:0;
  }

  .item-content > .item {
    margin:-4em -3em 6em;
  }

  .item-content {
    height:100%;
    padding:0;
  }

  .item-image-mobile {
    display:none;
  }

  .sub-item {
    display:none;
  }

  .sub-item.active {
    display:block;
  }

  .scroller,
  .viewport {
    height:100%;
    position:relative;
    overflow:hidden;
  }

  .nano > .nano-content {
    overflow:scroll;
    overflow-x:hidden;
    position:absolute;
  }

  .scroller-content {
    padding:4em 3em;
  }

  .item-map {
    display:block;
    float:right;
    height:100%;
    padding:0;
    width:50%;
  }

  .item-about > .item-content {
    padding:0;
  }

  .item-about .item-header {
    display:none;
  }

  .item-products .product-image {
    height:40%;
  }

  .item-products .scroller-content {
    padding-top:2em;
  }

  .item-product-categories .scroller-content {
    padding-top:4em;
  }

  .product-image-featured,
  .product-image {
    background:no-repeat 50% 50%;
    background-size:cover;
    position:relative;
    width:100%;
  }

  .product-image-featured {
    height:60%;
  }

  .menu-product-categories {
    font-size:25px;
    font-weight:300;
  }

  .menu-product-categories li,
  .menu-product-categories a {
    border:0;
    color:#666;
    padding:0;
  }

  .menu-product-categories a:hover {
    color:#e36b00;
  }

  .item-product .menu + h1 {
    margin-top:0;
  }

  .item-contact .branch h3 {
    margin-bottom:.5em;
  }

  .item-contact .row {
    margin:0 -.5em;
  }

  .item-contact .row:after {
    content:"";
    display:table;
    clear:both;
  }

  .item-contact .row .form-item {
    float:left;
    padding-left:.5em;
    padding-right:.5em;
    width:50%;
  }

  .nano > .nano-pane {
    border-radius:0;
    background:#e36b00;
    margin:1em;
    right:0;
    width:1px;
  }

  .nano > .nano-pane > .nano-slider {
    background:#001c85;
    border-radius:50%;
    left:50%;
    margin:0 0 0 -5.5px;
    width:11px;
  }

  .item-contact .item-header,
  .item-research .item-header,
  .item-product-categories .item-header {
    margin-top:0;
  }
}

/*=
 * Helpers
 */
.active {
  display:block!important;
}

.bx-wrapper .bx-loading {
  background-image:url(../images/loader.gif);
}

.modal {
  background:rgba(255, 255, 255, .9);
  display:none;
  height:100%;
  left:0;
  overflow:auto;
  padding:1.5em;
  position:fixed;
  top:0;
  width:100%;
  z-index:9999;
}

.modal-inner {
  background:#fff;
  box-shadow:0 0 8px rgba(0, 0, 0, .5);
  border-radius:3px;
  margin:0 auto;
  max-width:500px;
  padding:1.5em 2em;
}

.modal-inner h1 {
  border-bottom:1px solid #ddd;
  font-size:16px;
  font-weight:500;
  padding-bottom:1em;
}

.modal-inner :last-child {
  margin-bottom:0;
}

.modal-close {
  float:right;
}

.modal-actions {
  text-align:right;
}

.modal.in {
  display:block;
}
