/**************************************************
* http://meyerweb.com/eric/tools/css/reset/
*   v2.0 20110126 - License: none (public domain)
**************************************************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary,time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/************************************************
* HTML5 display-role reset for older browsers
************************************************/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
*{
	/* box-size */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	outline: none;
}
/************************************************
* Font Roboto.
************************************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
/************************************************
* Theme: Luveck
************************************************/
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color:  #888888;
	font-size: 13px;
	line-height: 18px;
	text-align: left;
	overflow: hidden;
}
/************************************************
* Scrollbar
************************************************/
.nano {
	position : relative;
	width    : 100%;
	height   : 100%;
	overflow : hidden;
}
.nano > .nano-content {
	position      : absolute;
	overflow      : scroll;
	overflow-x    : hidden;
	top           : 0;
	right         : 0;
	bottom        : 0;
	left          : 0;
}
.nano > .nano-content:focus {
	outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
	display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
 	display: block;
}
.nano > .nano-pane {
	background-color:  #d8934c;
	position   : absolute;
	width      : 2px;
	right      : 10px;
	top        : 30px;
	bottom     : 30px;
	visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
	opacity    : .01;
	-webkit-transition    : .2s;
	-moz-transition       : .2s;
	-o-transition         : .2s;
	transition            : .2s;
	-moz-border-radius    : 5px;
	-webkit-border-radius : 5px;
	border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
	position              : relative;
	margin                : 0 -4px;
	border-radius 	      : 5px;
	background-color      : #2b4c93;
	width                 : 10px;
	height                : 10px !important;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
	visibility : visible\9; /* Target only IE7 and IE8 with this hack */
	opacity    : 0.99;
}

/************************************************
* Loader
************************************************/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #FFF;
	z-index: 9999;
	overflow: hidden;
}
#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -100px 0 0 -100px;
}
#status .logo {
	display: block;
	margin: 0 auto 15px;
}
#status .loader {
	display: block;
	margin: 0 auto;
}
/************************************************
* Main
************************************************/
main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
/************************************************
* Menu
************************************************/
aside {
	float: left;
	width: 19%;
	background-color: #FFF;
	border-right: 1px solid #FAFAFB;
	padding: 35px 30px 26px;
	/*position: relative;*/
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
}
/* Logo */
.brand_logo {
	background: url(../images/logo.png) 0 0 no-repeat;
	text-indent: -9999px;
	display: block;
	margin: 0 auto;
	width: 151px;
	height: 52px;
}
/************************************************
* Navigation
************************************************/
nav {
	display: block;
	overflow: hidden;
	margin: 65px auto;
	height: auto;
	width: 100%;
	float: left;
}
nav li {
	line-height: 34px;
	border-bottom: 1px solid #b3b3b3;
}
nav li:last-child {
	border: none;
}
nav a {
	color: #888888;
	line-height: 34px;
	text-decoration: none;
}
nav a.active {
	font-family: Roboto;
	color:  #d8934c;
	font-weight: 900;
}
nav li ul li a {
	padding-left: 15px;
}
.dropdown {
	display: none;
}
.dropdown.open {
	display: block;
	border-top: 1px solid #b3b3b3;
}
/************************************************
* Redes
************************************************/
.contactos {
	display: block;
	margin-top: 30%;
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 26px;
}
.contactos li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}
.contactos li a {
	color: #626262;
	line-height: 15px;
	font-size: 15px;
}
/************************************************
* Contenido
************************************************/
.content {
	background-color:  #f2f2f2;
	float: left;
	width: 81%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
}
/************************************************
* Section : Home
************************************************/
section {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	position: relative;
}
section article {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	position: relative;
}
#sliderHome {
	overflow: hidden;
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
}
.viewport {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.overview {
	list-style: none;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 100%;
	left: 0;
	top: 0;
}
.overview li {
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}
.overview li img {
	display: block;
	width: 100%;
	height: auto;
}
.disable {
	visibility: hidden;
}
/* SLIDE Menu */
.slider-menu {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 30%;
	height: 100%;
	z-index: 10;
	border-left: 1px solid #a9a9a9;
	padding: 30px 16px;
}
.slider-menu ul {
	display: block;
	margin: 50% auto;
}
.slider-menu ul li {
	display: block;
	margin-bottom: 40px;
}
.slider-menu a {
	font-size: 14px;
	text-decoration: none;
	color: #888888;
	position: relative;
}
.slider-menu a.currentSlide::after {
	content: '';
	width: 3px;
	height: 36px;
	background: #888;
	display: block;
	position: absolute;
	left: -18px;
	top: 0
}
.slider-menu h2 {
	font-size: 14px;
	text-transform: uppercase;
	color: #343434;
}
/************************************************
* Estilos genericos
************************************************/
section h1 {
	font-size: 40px;
	line-height: 40px;
	font-weight: 300;
	margin-bottom: 60px;
}
.col {
	float: left;
	display: block;
	overflow: hidden;
}
.col-49 {
	width: 49%;
}
.col-51 {
	width: 51%;
}
/************************************************
* Section Sobre Luveck
************************************************/
#sliderSobreLuveck h2 {
	font-size: 25px;
	/*font-weight: 900;*/
	line-height: 28px;
	margin-bottom: 15px;
}
#sliderSobreLuveck p {
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	margin-bottom: 30px;
	text-align: justify;
}
.list-items li {
	background: url(../images/bullet.png) 1px 8px no-repeat;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	text-align: justify;
	margin-bottom: 20px;
}
.list-info {
	width: 100%;
	overflow: hidden;
}
.list-info li {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.list-info li img {
	display: block;
	width: 100%;
	height: auto;
}
#sliderSobreLuveck .no-nano {
	padding: 70px 50px 50px;
}
/*  scrollbar */
.nano {
	width: 100%;
}
.nano > .nano-content {
	padding: 70px 50px 50px;
}

/* Bullets */
.bullets {
	position: absolute;
	top: 50%;
	right: 49%;
	width: 8px;
	text-align: center;
}
.bullets li {
	margin: 5px 0
}
.bullet {
	border-radius: 50%;
	border: 1px solid #FFF;
	width: 8px;
	height: 8px;
	display: block;
	text-indent: -9999px;
}
.bullet.active{
	background-color:  #ffffff;
}
/************************************************
* Section : Productos
************************************************/
.section-products .col-49 {
	padding: 70px 50px 50px;
}
.section-products .col-51 {
	position: relative;
}
.section-products h2 {
	font-size: 25px;
	line-height: 28px;
	margin-bottom: 15px;
}
.content-prod ul {
	margin-bottom: 20px;
}
.content-prod li {
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	text-align: justify;
}
.presentaciones li {
	display: inline-block;
	margin-right: 5px;
}
.content-prod li a {
	text-decoration: none;
	color: #626262;
}
.content-prod li a.active {
	color: #d8934c;
}
.btn_descargar {
	background-color: #d8934c;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	font-size: 12px;
	line-height: 100%;
	color: #FFF;
	height: 31px;
	margin-top: 25px;
	overflow: hidden;
}
.btn_descargar span {
	display: inline-block;
	vertical-align: middle;
	padding: 10px 3px 9px 9px;
}
.btn_descargar span.shape {
	display: inline-block;
	vertical-align: middle;
	background-color: #ff8100;
	padding: 5px 9px 6px
}
.icon {
	background: url(../images/icon-sheet.png) 0 0 no-repeat;
	vertical-align: middle;
	display: inline-block;
	text-indent: -9999px;
	width: 15px;
	height: 20px;
}
.content-prod {
	display: none;
}
.content-prod.active {
	display: block;
}
.list-prod {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}
.list-prod li {
	height: 33.33333%;
}
.list-prod li figure{
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.list-prod figure img {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/*.list-prod figure figcaption {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
}
.list-prod figure:hover figcaption {
	display: block;
}*/
.list-prod a.currentProd .borderCurrent {
	display: block;
}
/************************************************
* Section : Certificaciones
************************************************/
.section-certifications .col-49 {
	padding: 70px 50px 50px;
}
.section-certifications h2 {
	font-size: 25px;
	/*font-weight: 900;*/
	line-height: 28px;
	margin-bottom: 15px;
}
.section-certifications p {
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	margin-bottom: 30px;
}
.section-certifications .col-51 {
	position: relative;
}
.section-certifications .content-cert {
	display: none;
}
.section-certifications .content-cert.active {
	display: block;
}
.list-cert {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
}
.list-cert li {
	height:33.33333%;
}
.list-cert li figure {
	display: block;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.list-cert figure img {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/*.list-cert figure figcaption {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none;
}
.list-cert figure:hover figcaption {
	display: block;
}*/
.borderCurrent {
	border: 5px solid #ffbb71;
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.list-cert a.currentCert .borderCurrent {
	display: block;
}
.arrow {
	display: block;
	position: absolute;
	z-index: 100;
	bottom: 0px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}
.arrow .fa {
	font-size: 80px;
}
.arrow:hover .fa {
	color: #d8934c;
}
/************************************************
* Section : Investigacion
************************************************/
.section-investigation .col-49 {
	padding: 70px 50px 50px;
}
/************************************************
* Section : servicioClientes / Contacto
************************************************/
/* texts */
.sucursales {
	margin: 0 auto 40px;
	cursor: pointer;
	overflow: hidden;
}
.sucursales h2 {
	color:  #343434;
	font-size: 20px;
	/*font-weight: 900;*/
	line-height: 28px;
	text-transform: uppercase;
}
.sucursales h2 .fa {
	color: #888888;
}
.sucursales.active h2 .fa {
	color: #ffbb71;
}
.sucursales p {
	color: #888888;
}
.sucursales p a {
	text-decoration: none;
	color: #888888;
}
.sucursales p a:hover {
	color: #d8934c;
}
/* formulario */
#form-contacto {
	overflow: hidden;
	margin: 0 auto;
}
#form-contacto h2 {
	color:  #343434;
	font-size: 20px;
	/*font-weight: 900;*/
	line-height: 28px;
	text-transform: uppercase;
}
.form-control-5 {
	float: left;
	width: 50%;
	overflow: hidden;
}
.form-control-5.left {
	padding-right: 5px;
}
.form-control-5.right {
	padding-left: 5px;
}
input, textarea {
	width: 100%;
	color: #343434;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	background: transparent;
	border: none;
	border-bottom: 1px solid #d8934c;
}
.btn {
	border: none;
	background: transparent;
	color:  #343434;
	font-size: 22px;
	line-height: 28px;
	font-weight: 300;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
}
.btn:hover {
	color: #d8934c;
}
#servicioClientes .btn {
	float: right;
}
/* mapa */
.content-mapa {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
#map-canvas {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: block;
	position: absolute !important;
}
